## Basic Operations

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.3.5'

In [ ]:
# series is a one-dimensional array holding data of any type.
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
print(myvar[0])

1

In [ ]:
# empty series
x = pd.Series()
print (x)

Series([], dtype: float64)

<ipython-input-13-4230683666cb>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  x = pd.Series()

In [ ]:
x = pd.Series(4, index=[0, 1, 2, 3])
print (x)

0    4
1    4
2    4
3    4
dtype: int64

In [ ]:
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
print(myvar["y"])

7

In [ ]:
#Create a simple Pandas Series from a dictionary:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
#Create a Series using only data from "day1" and "day2":
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories, index = ["day1", "day2"])
print(myvar)

day1    420
day2    380
dtype: int64

In [ ]:
import numpy as np
info = np.array(['P','a','n','d','a','s'])
a = pd.Series(info)
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0]) #A Pandas Series is a one-dimensional array of indexed data.
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [ ]:
# series is a one dimensional array containing a sequence of values of any type
series1=pd.Series([10,20,30])

In [ ]:
series1

0    10
1    20
2    30
dtype: int64

In [ ]:
series2=pd.Series(['kavi','kumar','ram'],index=[3,5,1])

In [ ]:
series2

3     kavi
5    kumar
1      ram
dtype: object

In [ ]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [ ]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
data[1]

0.5

In [ ]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
data['b']

0.5

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],index=[2, 5, 3, 7]) #even use noncontiguous or nonsequential indices
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [ ]:
data[5]

0.5

In [ ]:
population_dict = {'California': 38332521,'Texas': 26448193,'New York': 19651127,'Florida': 19552860,'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
population['California']

38332521

In [ ]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
pd.Series([2, 4, 6]) # index is optional argument

0    2
1    4
2    6
dtype: int64

In [ ]:
pd.Series(5, index=[100, 200, 300])#data can be a scalar, which is repeated to fill the specified index

100    5
200    5
300    5
dtype: int64

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'}) #data can be a dictionary, in which index defaults to the sorted dictionary keys

2    a
1    b
3    c
dtype: object

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2]) #the index can be explicitly set if a different result is preferred

3    c
2    a
dtype: object

In [ ]:
# creating of series from numpy arrays
import numpy as np
import pandas as pd
array1=np.array([1,2,3,4])
series3=pd.Series(array1)
print(series3)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
series4=pd.Series(array1,index=['jan','feb','mar','apr'])
series4

jan    1
feb    2
mar    3
apr    4
dtype: int64

In [ ]:
#creation of series from dictionary
dict1={'India':'NewDelhi','Uk':'London','japan':'tokyo'}
dict1

{'India': 'NewDelhi', 'Uk': 'London', 'japan': 'tokyo'}

##DataFrame as a generalized NumPy array

In [ ]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,'Florida': 170312, 'Illinois': 149995}

In [ ]:
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [ ]:
states = pd.DataFrame({'population': population,'area': area}) # dictionary to construct a single two-dimensional object
# area single dimensional obejct and population another single dimensional object - we combined two objects
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [ ]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [ ]:
states.columns

Index(['population', 'area'], dtype='object')

##DataFrame as specialized dictionary

In [ ]:
# create simple dataframe
x = ['Python', 'Pandas']
# Calling DataFrame constructor on list
df = pd.DataFrame(x)
print(df)

        0
0  Python
1  Pandas

In [ ]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
pd.DataFrame(population, columns=['population']) #A DataFrame is a collection of Series objects, and a singlecolumn
#DataFrame can be constructed from a single Series

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [ ]:
data = [{'a': i, 'b': 2 * i} # Any list of dictionaries can be made into a DataFrame. We’ll use a
#simple list comprehension to create some data:
for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [ ]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}]) #Pandas will fill them in with NaN (i.e., #“not a number”)

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [ ]:
pd.DataFrame(np.random.rand(3, 2),columns=['foo', 'bar'],index=['a', 'b', 'c'])
#create a DataFrame with any specified column and index names

        foo       bar
a  0.008710  0.340650
b  0.562638  0.512012
c  0.656258  0.157982

In [ ]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')]) # from numpy array we can create dataframe
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [ ]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

##The Pandas Index Object

In [ ]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [ ]:
ind[1]  # Index as immutable array

3

In [ ]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [ ]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

###Index as ordered set

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [ ]:
indA & indB # intersection

<ipython-input-44-f400ec9c4e08>:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  indA & indB # intersection

Int64Index([3, 5, 7], dtype='int64')

In [ ]:
indA | indB # union

<ipython-input-45-0a17b8447828>:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  indA | indB # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [ ]:
indA ^ indB # symmetric difference

<ipython-input-46-aebc1839486a>:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead
  indA ^ indB # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

###Data Selection in Series

In [ ]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
data['b']

0.5

In [ ]:
'a' in data

True

In [ ]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [ ]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

###Series as one-dimensional array

In [ ]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [ ]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [ ]:
data[0:2]

a    0.25
b    0.50
dtype: float64

In [ ]:
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [ ]:
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

###Indexers: loc, iloc, and ix

In [ ]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [ ]:
data[1]

'a'

In [ ]:
data[1:3]

3    b
5    c
dtype: object

In [ ]:
data.loc[1]

'a'

In [ ]:
data.loc[1:3]

1    a
3    b
dtype: object

In [ ]:
data.iloc[2]

'c'

In [ ]:
data.iloc[1:3]

3    b
5    c
dtype: object

###Data Selection in DataFrame

In [ ]:
area = pd.Series({'California': 423967, 'Texas': 695662,'New York': 141297, 'Florida': 170312,'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,'New York': 19651127, 'Florida': 19552860,'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [ ]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
data.area is data['area']

True

In [ ]:
data.pop is data['pop'] ## here it is pointing to the method so false above no method called area

False

In [ ]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

###DataFrame as two-dimensional array

In [ ]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [ ]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [ ]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [ ]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [ ]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [ ]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [ ]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [ ]:
data[1:3] # Such slices can also refer to rows by number rather than by index

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

# loc and iloc
![1.jpg]()

#Operating on Data in Pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
rng = np.random.RandomState(8)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    3
1    4
2    1
3    9
dtype: int64

In [ ]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  5  8  3  8
1  0  5  1  3
2  9  2  2  6

In [ ]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,'New York': 19651127}, name='population')

In [ ]:
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [ ]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
A

0    2
1    4
2    6
dtype: int64

In [ ]:
B = pd.Series([1, 3, 5], index=[1, 2, 3])
B

1    1
2    3
3    5
dtype: int64

In [ ]:
A+B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [ ]:
A.add(B, fill_value=0) #For example, calling A.add(B)
#is equivalent to calling A + B

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [ ]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),columns=list('AB')) #Index alignment in DataFrame
A

   A   B
0  9  19
1  4   7

In [ ]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),columns=list('BAC'))
B

   B  A  C
0  9  2  6
1  9  5  1
2  6  4  5

In [ ]:
A + B

      A     B   C
0  11.0  28.0 NaN
1   9.0  16.0 NaN
2   NaN   NaN NaN

In [ ]:
fill = A.stack().mean() #find the mean value in A then add that value

In [ ]:
fill

9.75

In [ ]:
A.add(B, fill_value=fill)

       A      B      C
0  11.00  28.00  15.75
1   9.00  16.00  10.75
2  13.75  15.75  14.75

##Operations Between DataFrame and Series

In [ ]:
A = rng.randint(10, size=(3, 4))
A

array([[8, 0, 7, 2],
       [6, 7, 4, 8],
       [9, 6, 4, 5]])

In [ ]:
A - A[0]

array([[ 0,  0,  0,  0],
       [-2,  7, -3,  6],
       [ 1,  6, -3,  3]])

###Handling Missing Data

In [ ]:
data = pd.Series([1, np.nan, 'hello', None]) # Detecting null values

In [ ]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [ ]:
data.dropna() # show only the true value

0        1
2    hello
dtype: object

In [ ]:
df = pd.DataFrame([[1, np.nan, 2],
[2, 3, 5],
[np.nan, 4, 6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [ ]:
df.dropna() # drop the entire rows

     0    1  2
1  2.0  3.0  5

In [ ]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

##Filling null values

In [ ]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [ ]:
data.fillna(0) # We can fill NA entries with a single value, such as zero

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [ ]:
data.fillna(method='ffill') # We can specify a forward-fill to propagate the previous value forward

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [ ]:
data.fillna(method='bfill') # Or we can specify a back-fill to propagate the next values backward

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [ ]:
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [ ]:
df.fillna(method='ffill', axis=1) # For DataFrames, the options are similar, but we can also specify an axis along which
#the fills take place
# Notice that if a previous value is not available during a forward fill, the NA value
#remains.

     0    1    2
0  1.0  1.0  2.0
1  2.0  3.0  5.0
2  NaN  4.0  6.0

##A Multiply Indexed Series

In [ ]:
index = [('California', 2000), ('California', 2010),('New York', 2000), ('New York', 2010),('Texas', 2000), ('Texas', 2010)]

In [ ]:
populations = [33871648, 37253956,18976457, 19378102,20851820, 25145561]

In [ ]:
pop = pd.Series(populations, index=index) # not looking good
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [ ]:
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [ ]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [ ]:
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [ ]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [ ]:
pop_df = pd.DataFrame({'total': pop,'under18': [9267089, 9284094,4687374, 4318033,5906301, 6879014]})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [ ]:
f_u18 = pop_df['under18'] / pop_df['total'] # “Operating on Data in
#Pandas” on page 115 work with hierarchical indices as well
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [ ]:
#Methods of MultiIndex Creation
df = pd.DataFrame(np.random.rand(4, 2),index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],columns=['data1', 'data2'])
df

        data1     data2
a 1  0.547597  0.471477
  2  0.489920  0.420871
b 1  0.135702  0.864535
  2  0.125547  0.361900

In [ ]:
data = {('California', 2000): 33871648,
('California', 2010): 37253956,
('Texas', 2000): 20851820,
('Texas', 2010): 25145561,
('New York', 2000): 18976457,
('New York', 2010): 19378102}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [ ]:
pop.index.names = ['state', 'year']
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [ ]:
#hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
names=['subject', 'type'])

In [ ]:
# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

In [ ]:
# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      27.0  38.3  50.0  38.5  41.0  36.4
     2      47.0  37.2  35.0  35.9  50.0  38.3
2014 1      53.0  37.3  42.0  36.1  35.0  37.2
     2      34.0  37.2  26.0  36.3  47.0  34.2

In [ ]:
health_data['Guido']

type          HR  Temp
year visit
2013 1      58.0  37.6
     2      50.0  37.1
2014 1      40.0  35.2
     2      37.0  36.3

In [ ]:
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [ ]:
pop['California']

year
2000    33871648
2010    37253956
dtype: int64

In [ ]:
pop.loc['California':'New York']

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

In [ ]:
pop[:, 2000]

state
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [ ]:
pop[pop > 22000000]

state       year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

In [ ]:
pop[['California', 'Texas']]

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

In [ ]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      44.0  37.1  58.0  37.6  41.0  35.7
     2      17.0  35.8  50.0  37.1  36.0  36.4
2014 1      37.0  39.1  40.0  35.2  34.0  38.7
     2      49.0  38.4  37.0  36.3  36.0  37.4

In [ ]:
health_data['Guido', 'HR']

year  visit
2013  1        58.0
      2        50.0
2014  1        40.0
      2        37.0
Name: (Guido, HR), dtype: float64

In [ ]:
health_data.iloc[:2, :2]

subject      Bob
type          HR  Temp
year visit
2013 1      44.0  37.1
     2      17.0  35.8

In [ ]:
health_data.loc[:, ('Bob', 'HR')]

year  visit
2013  1        44.0
      2        17.0
2014  1        37.0
      2        49.0
Name: (Bob, HR), dtype: float64

In [ ]:
#a better way in this context is to use an IndexSlice object,
#which Pandas provides for precisely this situation
idx = pd.IndexSlice
health_data.loc[idx[:, 1], idx[:, 'HR']]

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      44.0  58.0  41.0
2014 1      37.0  40.0  34.0

In [ ]:
#Data Aggregations on Multi-Indices
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      44.0  37.1  58.0  37.6  41.0  35.7
     2      17.0  35.8  50.0  37.1  36.0  36.4
2014 1      37.0  39.1  40.0  35.2  34.0  38.7
     2      49.0  38.4  37.0  36.3  36.0  37.4

In [ ]:
data_mean = health_data.mean(level='year')
data_mean

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  """Entry point for launching an IPython kernel.

subject   Bob        Guido          Sue
type       HR   Temp    HR   Temp    HR   Temp
year
2013     30.5  36.45  54.0  37.35  38.5  36.05
2014     43.0  38.75  38.5  35.75  35.0  38.05

In [ ]:
#making use of the axis keyword, we can take the mean among levels on
#the columns as well:
data_mean.mean(axis=1, level='type')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  This is separate from the ipykernel package so we can avoid doing imports until

type         HR       Temp
year
2013  41.000000  36.616667
2014  38.833333  37.516667

##Combining Datasets: Concat and Append

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [ ]:
#works to concatenate higher-dimensional objects, such as DataFrames
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
print(df1); print(df2); print(pd.concat([df1, df2]))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [ ]:
print(df1); print(df2); print(df1.append(df2))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

#Categories of Joins

In [ ]:
#One-to-one joins
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],'hire_date': [2004, 2008, 2012, 2014]})
print(df1); print(df2)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [ ]:
df3 = pd.merge(df1, df2)
df3

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [ ]:
#Many-to-one joins
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],'supervisor': ['Carly', 'Guido', 'Steve']})
print(df3); print(df4); print(pd.merge(df3, df4))

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve
  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

In [ ]:
pd.merge(df3, df4)

  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

In [ ]:
#Many-to-many joins
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting','Engineering', 'Engineering', 'HR', 'HR'],'skills': ['math', 'spreadsheets', 'coding', 'linux',
'spreadsheets', 'organization']})

In [ ]:
pd.merge(df1, df5)

  employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

In [ ]:
#The on keyword - explicitly speify the merge keyword
print(df1); print(df2); print(pd.merge(df1, df2, on='employee'))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [ ]:
pd.merge(df1, df2, on='employee')

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [ ]:
#The left_on and right_on keywords
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],'salary': [70000, 80000, 120000, 90000]})
print(df1); print(df3);
print(pd.merge(df1, df3, left_on="employee", right_on="name"))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000
  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

In [ ]:
pd.merge(df1, df3, left_on="employee", right_on="name")

  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

In [ ]:
pd.merge(df1, df3, left_on="employee", right_on="name").drop('name', axis=1)

  employee        group  salary
0      Bob   Accounting   70000
1     Jake  Engineering   80000
2     Lisa  Engineering  120000
3      Sue           HR   90000